<section class="dashboard-section">
    <div class="flex-grid row">
        <div class="col">
            <div id="'newpost-button">
                <a href="/blog-form" class="button" id="submit">Create New Post
                </a>
            </div>

            {{#each posts}}
  {{> post}}
{{/each}}
</section>
</div>
</div>