    <section class="container dark">
      <section class="content">
        <!-- back button and dark light mode -->
        <div class="top-nav">
          <div class="toggle">
            <label class="switch">
              <input type="checkbox" id="theme-switcher" />
              <span class="slider round"></span>
            </label>
          </div>
          <div class="back-container">
            <button id="backbutton">←</button>
          </div>
        </div>
        <main class="header">
          <!-- Blog Headline Section -->
          <div class="headline">
            <h1>Danielle Boenisch Blog</h1>
          </div>
        </main>
        <div class="posts" id="posts"><!-- Posts Inserted Here --></div>
        <!-- Footer includes portfolio link and copyright line -->
        <footer class="footer">
          <p>
            <a href="https://danielleboe.github.io/challenge-2"
              >Visit Danielle's Portfolio</a
            >
          </p>
          <p>&copy; Danielle Boenisch 2024</p>
        </footer>
      </section>
    </section>
    <!-- javascript -->
    <script src="./js/blog.js"></script>
    <script src="./js/logic.js"></script>