   
              <section class="content">
        <main class="header">
          <!-- Blog Headline Section -->
          <div class="headline">
            <h1>Danielle Boenisch Blog</h1>
          </div>
        </main>

{{!-- Extend the main layout --}}
{{!-- {{#extend 'layouts/main'}}

{{#content 'body'}} --}}
<h1>All Blog Posts</h1>

{{#each posts}}
  {{> post}}
{{/each}}

{{!-- {{/content}} --}}

{{!-- 
        <div class="posts" id="posts"><!-- Posts Inserted Here --></div>
        <!-- Footer includes portfolio link and copyright line -->
      </section> --}}
    <!-- javascript -->
    {{!-- <script src="./js/blog.js"></script> --}}
  